# Default ignored files
/shelf/
/workspace.xml

### IntelliJ IDEA ###
.idea
.idea/*
*.iws
*.iml
*.ipr
*.idea/*


### Maven ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/